

.slider-container {
  position: relative;
  width: 100%;
  height: 550px;
  top:10px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.slider-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: white;
}
