.local{
  background-image: url('https://res.cloudinary.com/de0gfcyix/image/upload/v1757330328/Gray_Clouds_with_Rain_Desktop_Wallpaper_n1t48f.png');
  background-repeat: no-repeat;
  position: relative;
  bottom: 22px;
}

.special-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;      
  padding: 20px;
  justify-content: center;
  background: #f9f9f9;
  background-image: url('https://res.cloudinary.com/de0gfcyix/image/upload/v1757330328/Gray_Clouds_with_Rain_Desktop_Wallpaper_n1t48f.png');
  background-repeat: no-repeat;
}

.krish-icon {
  width: 120px;     
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.krish-icon img {
  width: 100px;       
  height: 90px;
  object-fit: cover;
  border-radius: 50%; 
  display: block;
  margin: 0 auto 8px; 
}

.krish-icon p {
  font-size: 0.9rem;
  margin: 0;
  color: #333;
  font-weight: 500;
}

.head h1{
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
